{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de Productos</h1>
  <ul>
    {% for producto in object_list %}
      <li>
        <a href="{% url 'producto-update' producto.pk %}">{{ producto.nombre }}</a>
        <form action="{% url 'producto-delete' producto.pk %}" method="post" style="display:inline;">
          {% csrf_token %}
          <input type="submit" value="Eliminar">
        </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'producto-create' %}">Crear nuevo producto</a>
{% endblock %}
