{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de Categorías</h1>
  <ul>
    {% for categoria in object_list %}
      <li>
        <a href="{% url 'categoria-update' categoria.pk %}">{{ categoria.nombre }}</a>
        <form action="{% url 'categoria-delete' categoria.pk %}" method="post" style="display:inline;">
          {% csrf_token %}
          <input type="submit" value="Eliminar">
        </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'categoria-create' %}">Crear nueva categoría</a>
{% endblock %}
