{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de Pedidos</h1>
  <ul>
    {% for pedido in object_list %}
      <li>
        <a href="{% url 'pedido-update' pedido.pk %}">{{ pedido.id }} en {{ pedido.mesa }}</a>
        <form action="{% url 'pedido-delete' pedido.pk %}" method="post" style="display:inline;">
          {% csrf_token %}
          <input type="submit" value="Eliminar">
        </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'pedido-create' %}">Crear nuevo pedido</a>
{% endblock %}
