{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de Mesas</h1>
  <ul>
    {% for mesa in object_list %}
      <li>
        <a href="{% url 'mesa-update' mesa.pk %}">{{ mesa.numero }}</a>
        <form action="{% url 'mesa-delete' mesa.pk %}" method="post" style="display:inline;">
          {% csrf_token %}
          <input type="submit" value="Eliminar">
        </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'mesa-create' %}">Crear nueva mesa</a>
{% endblock %}
