{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista de Clientes</h1>
  <ul>
    {% for cliente in object_list %}
      <li>
        <a href="{% url 'cliente-update' cliente.pk %}">{{ cliente.nombre }}</a>
        <form action="{% url 'cliente-delete' cliente.pk %}" method="post" style="display:inline;">
          {% csrf_token %}
          <input type="submit" value="Eliminar">
        </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'cliente-create' %}">Crear nuevo cliente</a>
{% endblock %}
